<%- include('partials/_head') %>
<body class="aqua-background" data-aqua-era="10-4">
  <%- include('partials/_sidebar') %>

  <main class="main-content">
    <%- include('partials/_intro') %>
    <%- include('partials/_window') %>
    <%- include('partials/_buttons') %>
    <%- include('partials/_forms') %>
    <%- include('partials/_progress') %>
    <%- include('partials/_spinner') %>
    <%- include('partials/_tabs') %>
    <%- include('partials/_fieldset') %>
    <%- include('partials/_menu-bar') %>
    <%- include('partials/_context-menu') %>
    <%- include('partials/_toolbar') %>
    <%- include('partials/_alert-dialog') %>
    <%- include('partials/_slider') %>
    <%- include('partials/_search-field') %>
    <%- include('partials/_segmented-control') %>
    <%- include('partials/_table') %>
    <%- include('partials/_list-view') %>
    <%- include('partials/_tree-view') %>
    <%- include('partials/_tree-table') %>
    <%- include('partials/_separator') %>
    <%- include('partials/_hyperlink') %>
    <%- include('partials/_tooltip') %>
    <%- include('partials/_pagination') %>
    <%- include('partials/_badge') %>
    <%- include('partials/_color-swatches') %>
    <%- include('partials/_focus-ring') %>
    <%- include('partials/_balloon') %>
    <%- include('partials/_stepper') %>
    <%- include('partials/_disclosure') %>
    <%- include('partials/_titled-pane') %>
    <%- include('partials/_split-pane') %>
    <%- include('partials/_split-view') %>
    <%- include('partials/_scrollbar') %>
    <%- include('partials/_themes') %>
    <%- include('partials/_complete-example') %>
  </main>

  <%- include('partials/_scripts') %>
</body>
</html>
